body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

@font-face {
  font-family: "MrRobotFont";
  src: url(../font/MR\ ROBOT.ttf);
}

.MrRobotFont5px {
  font-family: "MrRobotFont";
  font-size: 5px;
}
.MrRobotFont10px {
  font-family: "MrRobotFont";
  font-size: 10px;
}
.MrRobotFont15px {
  font-family: "MrRobotFont";
  font-size: 15px;
}
.MrRobotFont20px {
  font-family: "MrRobotFont";
  font-size: 20px;
}