<% layout('LayoutA') -%>
<div id="map_canvas" style="width: 100%;height:800px;"></div>
<span id='variableJSON' hidden><%=jsonstr%></span>
<script>
var jstr = JSON.parse($("#variableJSON").html());
var newobj2= new Object();
// AQI: ""
// CO: "0.28"
// CO_8hr: "0.3"
// County: "彰化縣"
// Latitude: "23.925175"
// Longitude: "120.409653"
// NO: "0.6"
// NO2: "12"
// NOx: "13"
// O3: "11"
// O3_8hr: "20"
// PM2.5: "19"
// PM2.5_AVG: "16"
// PM10: ""
// PM10_AVG: ""
// Pollutant: ""
// PublishTime: "2018-10-16 01:00"
// SO2: "5"
// SiteName: "二林"
// Status: "設備維護"
// WindDirec: "264"
// WindSpeed: "0.5"
var arraydata =[];
for(var i=0;i<jstr.length;i++){
    var array =[];
    var newobj= new Object();
    newobj["name"] = jstr[i]["SiteName"];
    newobj["value"] = parseInt(jstr[i]["PM2.5"])>0? parseInt(jstr[i]["PM2.5"]):0;
    arraydata.push(newobj);
    array.push(parseFloat(jstr[i]["Longitude"]));
    array.push(parseFloat(jstr[i]["Latitude"]));

    newobj2[jstr[i]["SiteName"]] = array;
}
var data =  arraydata;
var geoCoordMap = newobj2;

var dom = document.getElementById("map_canvas");
var myChart = echarts.init(dom);
var app = {};
option = null;
var data =  arraydata;
var geoCoordMap = newobj2;

var convertData = function (data) {
    var res = [];
    for (var i = 0; i < data.length; i++) {
        var geoCoord = geoCoordMap[data[i]["name"]];
        if (geoCoord) {
            res.push({
                name: data[i]["name"],
                value: geoCoord.concat(data[i]["value"])
            });
        }
    }
    return res;
};

option = {
    title: {
        text: '全國空氣質量',
        subtext: 'PM2.5 數據',
        left: 'center'
    },
    tooltip : {
        trigger: 'item'
    },
    roamController: {
        show: true,
        mapTypeControl: {
            'china': true
        }
    },
    bmap: {
        //台灣中心東經120度58分25.975秒，北緯23度58分32.34秒，並設有一等三角點
        center: [120.5825975, 23.583234],
        zoom: 9,
        roam: true,
        mapStyle: {
            styleJson: [{
                'featureType': 'water',
                'elementType': 'all',
                'stylers': {
                    'color': '#d1d1d1'
                }
            }, {
                'featureType': 'land',
                'elementType': 'all',
                'stylers': {
                    'color': '#11b4d8'
                }
            }, {
                'featureType': 'railway',
                'elementType': 'all',
                'stylers': {
                    'visibility': 'off'
                }
            }, {
                'featureType': 'highway',
                'elementType': 'all',
                'stylers': {
                    'color': '#fdfdfd'
                }
            }, {
                'featureType': 'highway',
                'elementType': 'labels',
                'stylers': {
                    'visibility': 'off'
                }
            }, {
                'featureType': 'arterial',
                'elementType': 'geometry',
                'stylers': {
                    'color': '#fefefe'
                }
            }, {
                'featureType': 'arterial',
                'elementType': 'geometry.fill',
                'stylers': {
                    'color': '#fefefe'
                }
            }, {
                'featureType': 'poi',
                'elementType': 'all',
                'stylers': {
                    'visibility': 'off'
                }
            }, {
                'featureType': 'green',
                'elementType': 'all',
                'stylers': {
                    'visibility': 'off'
                }
            }, {
                'featureType': 'subway',
                'elementType': 'all',
                'stylers': {
                    'visibility': 'off'
                }
            }, {
                'featureType': 'manmade',
                'elementType': 'all',
                'stylers': {
                    'color': '#d1d1d1'
                }
            }, {
                'featureType': 'local',
                'elementType': 'all',
                'stylers': {
                    'color': '#d1d1d1'
                }
            }, {
                'featureType': 'arterial',
                'elementType': 'labels',
                'stylers': {
                    'visibility': 'off'
                }
            }, {
                'featureType': 'boundary',
                'elementType': 'all',
                'stylers': {
                    'color': '#fefefe'
                }
            }, {
                'featureType': 'building',
                'elementType': 'all',
                'stylers': {
                    'color': '#d1d1d1'
                }
            }, {
                'featureType': 'label',
                'elementType': 'labels.text.fill',
                'stylers': {
                    'color': '#999999'
                }
            }]
        }
    },
    series : [
        {
            name: 'pm2.5',
            type: 'scatter',
            coordinateSystem: 'bmap',
            data: convertData(data),
            symbolSize: function (val) {
                return val[2] / 1;
            },
            label: {
                normal: {
                    formatter: '{b}',
                    position: 'right',
                    show: false
                },
                emphasis: {
                    show: true
                }
            },
            itemStyle: {
                normal: {
                    color: 'purple'
                }
            }
        },
        {
            name: 'Top 5',
            type: 'effectScatter',
            coordinateSystem: 'bmap',
            data: convertData(data.sort(function (a, b) {
                return b.value - a.value;
            }).slice(0, 6)),
            symbolSize: function (val) {
                return val[2] / 10;
            },
            showEffectOn: 'render',
            rippleEffect: {
                brushType: 'stroke'
            },
            hoverAnimation: true,
            label: {
                normal: {
                    formatter: '{b}',
                    position: 'right',
                    show: true
                }
            },
            itemStyle: {
                normal: {
                    color: 'purple',
                    shadowBlur: 10,
                    shadowColor: '#333'
                }
            },
            zlevel: 1
        }
    ]
};;

if (option && typeof option === "object") {
    myChart.setOption(option, true);
}

</script>
 