
<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
  </head>
  <body>
    <div id="indexBody">
      <h1><%= title %></h1>
      <p>這是 <%= title %></p>
    </div>
  </body>
</html>

<script>
 // $("#indexBody").html()
  //$("#mbody").html('html');
</script>
